DBHOST=localhost
DBPORT=3306
DBUSERNAME=school
DBPASSWORD=school
DBDATABASE=school
MAILHOST=smtp.mailtrap.io
MAILPORT=2525
MAILUSER-test
MAILPASS=test
MAILFROM=school@gmail.com
MAILPATH=/school-adm/src/common/etmpl/